body {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #322e41;
    margin: 0;
}

body.preload * {
    pointer-events: none;
}

body * {
    user-select: none;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-img {
    background-image: url("/resources/stars.gif");
    opacity: 70%;
    z-index: -5;
}

.bg-label {
    margin: 10px;
}

.bg-label-text {
    color: #ffe70d;
    background-color: #322e41;
    border: #eeeeee 2px solid;
    border-radius: 50px;
    padding: 2px 6px 4px 6px;
}

.main-div {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    z-index: 100;
    margin: 15px;
    user-select: none;
}

.rotate {
    animation: rotate 0.5s linear;
}

.unrotate {
    transform: rotateY(180deg);
    animation: unrotate 0.5s linear;
}

.unclickable {
    pointer-events: none;
}

.card-input {
    pointer-events: none;
}

.card-img {
    width: 75px;
    height: auto;
    outline: #eeeeee 4px solid;
    border-radius: 10px;
    vertical-align: top;
    pointer-events: none;
}

.card-fly {
    animation: cardFly 1s ease-out;
}

.card-unfly {
    animation: cardUnfly 1s ease-in;
    transform: translateY(-100px);
    opacity: 0;
}

.won-div {
    display: flex;
    justify-content: center;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #eeeeee;
    text-align: center;
    letter-spacing: 1px;
}

.text-div {
    position: fixed;
    bottom: 15px;
    width: auto;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    margin: 20px 0px;
}

.text-table {
    background-color: #322e41;
    border: #eeeeee 2px solid;
    border-radius: 50px;
    padding: 0px 5px;
}

.text-th {
    min-width: 130px;
    padding: 5px 0px;
    border: #ffe70d 1px solid;
    border-radius: 2px;
}

.th-dot {
    font-size: 15px;
    color: #ffe70d;
}

.see-div {
    top: 0;
    bottom: 0;
    right: 10px;
    user-select: none;
}

.see-tr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-th {
    min-width: fit-content;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.unavailable {
    opacity: 50%;
}

.won-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

.won-text {
    font-size: 50px;
    animation: 0.5s wonText normal both running linear;
}

.won-text-div + .won-table {
    margin: 30px 0px 5px 0px;
}

.th-won {
    font-size: 20px;
}

.won-table + .won-label {
    margin: 30px 0px 0px 0px;
}

.won-label {
    background-color: #322e41;
    border: #eeeeee 2px solid;
    border-radius: 50px;
    padding: 2px 10px 4px 10px;
    font-size: 25px;
}

.start-div {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-div * {
    letter-spacing: 3px;
}

.start-label {
    background-color: #322e41;
    border: #eeeeee 2px solid;
    border-radius: 50px;
    padding: 2px 10px 4px 10px;
    font-size: 50px;
    user-select: none;
}

.start-label + .start-dif {
    margin: 40px 0px 10px 0px;
}

.start-dif {
    background-color: #322e41;
    border: #eeeeee 2px solid;
    border-radius: 50px;
    padding: 2px 10px 4px 10px;
    font-size: 20px;
}

.tr-start {
    height: 40px;
    font-size: 20px;
    user-select: none;
}

.th-start {
    width: 50px;
    margin: 5px;
}

.th-selected {
    background-color: #ffe70d;
    color: #322e41;
    font-weight: bolder;
}

.start-table + .start-light-lagel {
    margin: 10px 0px 0px 0px;
}

.start-light-lagel {
    color:#ffe70d
}

.start-light-lagel + .won-label {
    margin: 30px 0px 0px 0px;
}

.won-table + .start-light-lagel {
    margin: 10px 0px 0px 0px;
}

@keyframes cardFly {
    0%
    {
        transform: translateY(-100px);
        opacity: 0;
    }

    20% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes cardUnfly {
    0% 
    {
        transform: translateY(0);
        opacity: 100%;
    }

    60% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes rotate {
    0%
    {
        pointer-events: none;
        transform: rotateY(180deg); 
    }
    100%
    {
        transform: rotateY(0deg); 
    }
}

@keyframes unrotate {
    0%
    {
        pointer-events: none;
        transform: rotateY(0deg) scale(1); 
    }
    100%
    {
        transform: rotateY(180deg) scale(1); 
    }
}

@keyframes wonText {
    0%
    {
        transform: scale(2) rotate(-40deg) translateX(100px);
        opacity: 0;
    }

    30%
    {
        transform: scale(2);
    }

    60% {
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .bg-label {
        margin: 2px;
    }

    .bg-label-text {
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .card {
        margin: 10px;
    }

    .card-img {
        width: 35px;
        outline: #eeeeee 2px solid;
        border-radius: 5px;
    }

    .rotate {
        transform: scale(1.2);
    }

    .text-div {
        margin: 0px 0px;
    }

    .text-th {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 1px;
    }

    .th-start {
        font-size: 20px;
    }

    .th-selected {
        font-weight: bolder;
    }

    .th-won {
        font-size: 20px;
    }

    @keyframes rotate {
        0% {
            pointer-events: none;
            transform: rotateY(180deg) scale(1);
        }

        100% {
            transform: rotateY(0deg) scale(1.2);
        }
    }

    @keyframes unrotate {
        0% {
            pointer-events: none;
            transform: rotateY(0deg) scale(1.2);
        }

        100% {
            transform: rotateY(180deg) scale(1);
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .bg-label {
        margin: 3px;
    }

    .bg-label-text {
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 12px;
    }

    .card {
        margin: 10px;
    }

    .card-img {
        width: 40px;
        outline: #eeeeee 2px solid;
        border-radius: 5px;
    }

    .rotate {
        transform: scale(1.15);
    }

    .text-div {
        margin: 0px 0px;
    }

    .text-th {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .th-start {
        font-size: 20px;
    }

    .th-selected {
        font-weight: bolder;
    }

    .th-won {
        font-size: 20px;
    }

    @keyframes rotate {
        0% {
            pointer-events: none;
            transform: rotateY(180deg) scale(1);
        }

        100% {
            transform: rotateY(0deg) scale(1.15);
        }
    }

    @keyframes unrotate {
        0% {
            pointer-events: none;
            transform: rotateY(0deg) scale(1.15);
        }

        100% {
            transform: rotateY(180deg) scale(1);
        }
    }
}