body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    height: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

* {
    --font-size: 5vh;
    font-size: var(--font-size);
}

.main-part {
    position: relative;
    flex-basis: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s;
}

.main-part:hover {
    flex-basis: 300%;
}

.main-part-back {
    position: absolute;
    width: 200%;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: round;
}

.main-part-content {
    position: absolute;
    z-index: 1000;
}

.main-part-title {
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}

.ogampot-main-part {
    background-color: #c7fdff;
    z-index: 100;
}

.ogampot-games {
    color: #000000;
    text-decoration: none;
}

.ogampot-back {
    width: 500vh;
    height: 500vh;
    top: -250vh;
    left: -250vh;
}

.ogampot-back-1 {
    background-image: url("../resources/gif/ogamgif2reverse.gif");
    background-size: 150px;
    transform: rotate(-35deg);
    z-index: 95;
}

.ogampot-back-2 {
    background-image: url("../resources/gif/ogamgif.gif");
    background-size: 75px;
    transform: rotate(-45deg);
    opacity: 50%;
    filter: blur(1px);
    z-index: 90;
}

.ogampot-main-part:hover .ogampot-back-1 {
    transform: rotate(-33deg);
    filter: blur(3px);
}

.ogampot-main-part:hover .ogampot-back-2 {
    transform: rotate(-47deg);
    filter: blur(4px);
}

.ogampot-title {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: #f1ff96 1.5px 2.5px,
                 #adff92 -1.5px 2.5px,
                 #92ffd5 1.5px -2.5px,
                 #92d7ff -1.5px -2.5px;
    border: #000000 5px dashed;
    border-radius: 0px;
    background-color: #ff6adc;
    background-clip: border-box;
}

.ogampot-main-part:hover .ogampot-title {
    border: #ffffff9d 10px solid;
    background-clip: padding-box;
    box-shadow: #ff6adc 0px 0px 25px 7px;
}

.ic63-main-part {
    position: relative;
    z-index: 200;
}

.ic63-back-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ic63-back {
    object-fit: cover;
    width: 110%;
    height: 100%;
    pointer-events: none;
}

.ic63-back-1 {
    z-index: 190;
}

.ic63-back-2 {
    z-index: 195;
}

    .ic63-content {
        position: unset;
    }

.ic63-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: #df96ff 2px 2px,
                 #92ffbc -2px 2px,
                 #efff92 2px -2px,
                 #92d5ff -2px -2px;
}

.ic63-sources {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    bottom: 3vh;
    left: 3vh;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.ic63-source-string {
    margin: 0;
    color: #1e122690;
    --ic63-sources-font-size: 2.25vh;
    font-size: var(--ic63-sources-font-size);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #ffcdf9 1px 1px 3px,
                 #a58de8 -1px 1px 3px,
                 #d674b1 1px -1px 3px,
                 #52c1e9 -1px -1px 3px;
}

.ic63-source-string * {
    font-size: var(--ic63-sources-font-size);
}

.ic63-source-string a {
    color: #ffffff95;
}

.ogamlet-main-part {
    z-index: 300;
}

.ogamlet-back {
    background-repeat: repeat;
    background-size: 100vh;
    background-position: center center;
    transition: 0.5s;
}

.ogamlet-main-part:hover .ogamlet-back {
    background-size: 200vh;
    filter: saturate(7);
}

.ogamlet-back-1 {
    background-image: url("../resources/gif/whois_Trim.jpeg");
    z-index: 290;
}

.ogamlet-main-part:hover .ogamlet-back-1 {
    background-image: url("../resources/gif/whois180.jpeg");
    animation: hoverImgGlitch 10s infinite ease, hoverImgInverse 14s infinite ease;
}

.ogamlet-back-2 {
    background-image: url("../resources/gif/whois_Trim.gif");
    z-index: 295;
}

.ogamlet-main-part:hover .ogamlet-back-2 {
    background-image: url("../resources/gif/whois180.gif");
    animation: hoverGifGlitch 10s infinite ease, hoverImgInverse 14s infinite ease;
}

.ogamlet-title {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.ogamlet-main-part:hover .ogamlet-title {
    padding: 5px;
    background-color: #ffffff50;
}

.ogamlet-title h1 {
    margin: 0;
    text-shadow: #ffffff 0px 0px 5px;
    animation: hoverTextResize1 8s infinite linear, hoverTextResize2 3s infinite linear;
}

.ogamlet-main-part:hover .ogamlet-title h1 {
    text-shadow: #00000075 0px 0px 5px;
}

.ogamlet-title span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    color: #000000;
    z-index: 305;
}

.ogamlet-title span:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translateX(0px);
}

.ogamlet-title span:last-child {
    clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
    transform: translateX(0px);
}

.ogamlet-main-part:hover .ogamlet-title span {
    padding: 5px;
    color: #000000;
}

.ogamlet-main-part:hover .ogamlet-title span:first-child {
    animation: hoverTextGlitch1 6s infinite linear, hoverTextGlitchResize1 9s infinite linear, hoverTextPadding1 4s infinite linear;
}

.ogamlet-main-part:hover .ogamlet-title span:last-child {
    animation: hoverTextGlitch2 4s infinite linear, hoverTextGlitchResize2 7s infinite linear, hoverTextPadding2 5s infinite linear;
}

@keyframes hoverImgGlitch {
    0% {
        background-position-y: center;
    }

    2% {
        background-position-y: center + 500px;
    }

    3% {
        background-position-y: 0px;
    }

    7% {
        background-position-y: 700px;
    }

    8% {
        background-position-y: 0px;
    }

    9% {
        background-position-y: center;
    }

    10% {
        background-position-y: center;
    }

    40% {
        background-position-y: center;
    }

    46% {
        background-image: url("../resources/gif/whois180.jpeg");
        background-position-y: 1200px;
    }

    46.9% {
        background-image: url("../resources/gif/whois180.jpeg");
    }

    47% {
        background-image: url("../resources/gif/whois_Trim.jpeg");
        background-position-y: center;
    }

    48.9% {
        background-image: url("../resources/gif/whois_Trim.jpeg");
    }

    49% {
        background-image: url("../resources/gif/whois180.jpeg");
        background-position-y: center;
    }

    52% {
        background-position-y: 1200px;
    }

    53% {
        background-position-y: center;
    }

    54.9% {
        background-position-y: 1200px;
    }

    55% {
        background-position-y: 1200px;
    }

    59% {
        background-position-y: center;
    }

    60% {
        background-position-y: 1000px;
    }

    61% {
        background-position-y: 0px;
    }

    62% {
        background-position-y: center;
    }

    66.9% {
        background-image: url("../resources/gif/whois180.jpeg");
    }

    67% {
        background-image: url("../resources/gif/whois_Trim.jpeg");
    }

    67.9% {
        background-image: url("../resources/gif/whois_Trim.jpeg");
    }

    68% {
        background-image: url("../resources/gif/whois180.jpeg");
    }

    100% {
        background-position-y: center;
    }
}

@keyframes hoverGifGlitch {
    0% {
        background-position-y: center;
    }

    2% {
        background-position-y: center + 500px;
    }

    3% {
        background-position-y: 0px;
    }

    7% {
        background-position-y: 700px;
    }

    8% {
        background-position-y: 0px;
    }

    9% {
        background-position-y: center;
    }

    10% {
        background-position-y: center;
    }

    40% {
        background-position-y: center;
    }

    46% {
        background-image: url("../resources/gif/whois180.gif");
        background-position-y: 1200px;
    }

    46.9% {
        background-image: url("../resources/gif/whois180.gif");
    }

    47% {
        background-image: url("../resources/gif/whois_Trim.gif");
        background-position-y: center;
    }

    48.9% {
        background-image: url("../resources/gif/whois_Trim.gif");
    }

    49% {
        background-image: url("../resources/gif/whois180.gif");
        background-position-y: center;
    }

    52% {
        background-position-y: 1200px;
    }

    53% {
        background-position-y: center;
    }

    54.9% {
        background-position-y: 1200px;
    }

    55% {
        background-position-y: 1200px;
    }

    59% {
        background-position-y: center;
    }

    60% {
        background-position-y: 1000px;
    }

    61% {
        background-position-y: 0px;
    }

    62% {
        background-position-y: center;
    }

    66.9% {
        background-image: url("../resources/gif/whois180.gif");
    }

    67% {
        background-image: url("../resources/gif/whois_Trim.gif");
    }

    67.9% {
        background-image: url("../resources/gif/whois_Trim.gif");
    }

    68% {
        background-image: url("../resources/gif/whois180.gif");
    }

    100% {
        background-position-y: center;
    }
}

@keyframes hoverImgInverse {
    0% {
        filter: saturate(7);
    }

    8.89% {
        filter: saturate(7);
    }

    8.9% {
        filter: invert(0);
    }

    9% {
        filter: invert(1);
    }

    9.9% {
        filter: invert(1);
    }

    10% {
        filter: invert(0);
        filter: saturate(7);
    }

    11.89% {
        filter: saturate(7);
    }

    11.9% {
        filter: invert(0);
    }

    12% {
        filter: invert(1);
    }

    12.9% {
        filter: invert(1);
    }

    13% {
        filter: invert(0);
        filter: saturate(7);
    }

    21.89% {
        filter: saturate(7);
    }

    21.9% {
        filter: invert(0);
    }

    22% {
        filter: invert(1);
    }

    22.9% {
        filter: invert(1);
    }

    23% {
        filter: invert(0);
        filter: saturate(7);
    }

    54.89% {
        filter: saturate(7);
    }

    54.9% {
        filter: invert(0);
    }

    55% {
        filter: invert(1);
    }

    58.9% {
        filter: invert(1);
    }

    59% {
        filter: invert(0);
        filter: saturate(7);
    }

    100% {
        filter: saturate(7);
    }
}

@keyframes hoverTextGlitch1 {
    0% {
        transform: translateX(0px);
    }

    10.9% {
        transform: translateX(0px);
    }

    11% {
        transform: translateX(-5px);
    }

    11.9% {
        transform: translateX(-7px);
    }

    12% {
        transform: translateX(0px);
    }

    40.5% {
        transform: translateX(0px);
    }

    40.6% {
        transform: translateX(8px);
    }

    41.5% {
        transform: translateX(-9px);
    }

    41.6% {
        transform: translateX(0px);
    }

    46.9% {
        transform: translate(0px 0px);
    }

    47% {
        transform: translate(12px -6px);
    }

    47.9% {
        transform: translate(14px -6px);
    }

    48% {
        transform: translate(0px 0px);
    }

    76.9% {
        transform: translate(0px 0px);
    }

    77% {
        transform: translate(-7px -10px);
    }

    77.5% {
        transform: translate(8px 0px);
    }

    77.6% {
        transform: translate(0px 0px);
    }
}

@keyframes hoverTextGlitch2 {
    0% {
        transform: translateX(0px);
    }

    9.9% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(6px);
    }

    10.9% {
        transform: translateX(6px);
    }

    11% {
        transform: translateX(0px);
    }

    39.9% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(15px);
    }

    40.9% {
        transform: translateX(14px);
    }

    41% {
        transform: translateX(0px);
    }

    46.9% {
        transform: translateX(0px);
    }

    47% {
        transform: translateX(-6px);
    }

    48.9% {
        transform: translateX(-6px);
    }

    49% {
        transform: translateX(0px);
    }

    61.9% {
        transform: translate(0px 0px);
    }

    62% {
        transform: translate(4px 7px);
    }

    62.9% {
        transform: translate(5px 3px);
    }

    63% {
        transform: translate(0px 0px);
    }
}

@keyframes hoverTextGlitchResize1 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }

    9.9% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }

    10% {
        clip-path: polygon(0 40%, 100% 40%, 100% 70%, 0 70%);
    }

    14% {
        clip-path: polygon(0 40%, 100% 40%, 100% 70%, 0 70%);
    }

    15% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }

    51% {
        clip-path: polygon(0 50%, 100% 50%, 100% 80%, 0 80%);
    }

    59% {
        clip-path: polygon(0 50%, 100% 50%, 100% 80%, 0 80%);
    }

    60% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }
}

@keyframes hoverTextGlitchResize2 {
    0% {
        clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
    }

    9.9% {
        clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
    }

    10% {
        clip-path: polygon(0 76%, 100% 76%, 100% 90%, 0 90%);
    }

    14% {
        clip-path: polygon(0 76%, 100% 76%, 100% 90%, 0 90%);
    }

    15% {
        clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
    }

    51% {
        clip-path: polygon(0 46%, 100% 46%, 100% 80%, 0 80%);
    }

    59% {
        clip-path: polygon(0 46%, 100% 46%, 100% 80%, 0 80%);
    }

    60% {
        clip-path: polygon(0 46%, 100% 46%, 100% 80%, 0 80%);
    }
}

@keyframes hoverTextPadding1 {
    0% {
        padding: 5px;
    }

    34% {
        padding: 5px;
    }

    35% {
        padding: 3px;
    }
    
    37% {
        padding: 3px;
    }

    38% {
        padding: 5px;
    }

    84% {
        padding: 5px;
    }

    85% {
        padding: 6px;
    }

    88% {
        padding: 6px;
    }

    89% {
        padding: 5px;
    }
}

@keyframes hoverTextPadding2 {
    0% {
        padding: 5px;
    }

    34% {
        padding: 5px;
    }

    35% {
        padding: 7px;
    }

    37% {
        padding: 7px;
    }

    38% {
        padding: 5px;
    }

    84% {
        padding: 5px;
    }

    85% {
        padding: 2px;
    }

    88% {
        padding: 2px;
    }

    89% {
        padding: 5px;
    }
}

@keyframes hoverTextResize1 {
    0% {
        font-size: var(--font-size);
    }

    49.9% {
        font-size: var(--font-size);
    }

    50% {
        font-size: calc(var(--font-size) - 0.3vh);
    }

    55.9% {
        font-size: calc(var(--font-size) - 0.3vh);
    }

    56% {
        font-size: var(--font-size);
    }

    90.9% {
        font-size: var(--font-size);
    }

    91% {
        font-size: calc(var(--font-size) + 0.3vh);
    }

    93.9%
    {
        font-size: calc(var(--font-size) + 0.3vh);
    }
    
    94% {
        font-size: var(--font-size);
    }
}

@keyframes hoverTextResize2 {
    0% {
        font-size: var(--font-size);
    }

    49.9% {
        font-size: var(--font-size);
    }

    50% {
        font-size: calc(var(--font-size) - 0.15vh);
    }

    55.9% {
        font-size: calc(var(--font-size) - 0.15vh);
    }

    56% {
        font-size: var(--font-size);
    }

    90.9% {
        font-size: var(--font-size);
    }

    91% {
        font-size: calc(var(--font-size) + 0.15vh);
    }

    93.9% {
        font-size: calc(var(--font-size) + 0.15vh);
    }

    94% {
        font-size: var(--font-size);
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    * {
        --font-size: 3vh;
        font-size: var(--font-size);
    }

    .main {
        flex-direction: column;
    }

    .ic63-back {
        object-fit: cover;
        width: 150%;
        height: 100%;
        pointer-events: none;
    }

    .ic63-sources {
        position: absolute;
        width: 100%;
        min-height: 25vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media screen and (max-width: 670px) and (orientation: landscape) {
    .main {
        flex-direction: row;
    }
}